.f-wrapper{
    background: rgb(67, 66, 66);
}
.f-container{
    justify-content: space-between;
   
}
.f-left{
    gap: 1rem;
    padding-bottom: 2rem;
}
.f-social{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
.f-right .primaryText{
    color: white;
}
@media (max-width:768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center !important;
        text-align: center;
    }
    
}